<div class="header-container">
    
    <div class="menu">
        <a href="/">Ana Sayfa</a>
        <a href="/about">Hakkımda</a>
        <a href="/help">Yardım</a>
    </div>

    <div class="header">
        {{title}}
    </div>
</div>