
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
}

.header-container{
    margin-top:10px;
}
.header-container a{
    text-decoration: none;
    color: #ef9273;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

.header-container a:hover{
    text-decoration: none;
    color: #ff5100;
    transition: .3s;
}

.menu{
    margin-bottom: 20px;
}

.header{
    font-size: 60px;
    font-weight: 600;
    color: rgb(52, 58, 63);
}
.footer{
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: lightgrey;
    border-top: 1px solid lightgrey ;
    
}
