<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"><!--ilk / işaretinden önce . koyma-->

</head>
<body>   
    <div class="content">
        {{>header}}<!-- partial dan gelen değer-->

        <!-- response.render dan gönderilen değerler süslü parantezler ieçrisine eklenir -->
        <form id="search-form">
            <input id="search-input" placeholder="adres giriniz">
            <button>Ara</button> 
        </form>
        <p id="p1"></p>
        <p id="p2"></p>
        <p id="p3"></p>
        {{>footer}}
    </div>
        <script src="/js/script.js"></script>
</body>
</html>